@tailwind base;
@tailwind components;
@tailwind utilities;

.sw-carousel img {
  width: 100.8%;
  max-width: 100.8%;
  height: 100%;
  object-fit: unset;
  pointer-events: none;

  /* object-fit: cover; */
}
